@import url("https://webgl2fundamentals.org/webgl/resources/webgl-tutorials.css");
body {
  margin: 0;
}
canvas {
  width: 1000vw;
  height: 1000vh;
  display: block;
}
.gman-widget-value {
  min-width: 5em;
}
